doctype html
2html(lang="en")
3    head
4        title=Shortbread
5
6    body
7        div.container
8            div.row
9                h1 Shortbread
10                p
11                    | Your shortened URL is
12                    a(href=base_url+'/'+id) #{base_url}/#{id}